@import 'tailwindcss';
@import './animations.css';

@theme {
  /* Font Type*/
  --font-poppins: Poppins, sans-serif;
  --font-lora: Lora, serif;

  /* Pimary Color*/
  --color-primary-light: #3b82f6;
  --color-primary: #1e3a8a;
  --color-primary-dark: #1e40af;

  /* Secondary Color */
  --color-secondary-light: #fde047;
  --color-secondary: #facc15;
  --color-secondary-dark: #eab308;

  /* Accent Color */
  --color-accent-light: #86efac;
  --color-accent: #16a34a;
  --color-accent-dark: #166534;

  /* Neutral Color */
  --color-neutral-light: #f3f4f6;
  --color-neutral: #e5e7eb;
  --color-neutral-dark: #9ca3af;

  /* Text Color */
  --color-white: #f8fafc;
  --color-black: #18181b;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

body {
  background-image: url('/pattern.svg');
}

/* Navbar */
nav a {
  position: relative;
}

/* Only show underline animation on desktop */
@media (min-width: 768px) {
  nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--color-secondary);
    transition:
      width 0.3s ease,
      left 0.3s ease;
    transform: translateX(-50%);
  }

  nav a:hover::after {
    width: 70%;
  }

  /* Special styling for active links */
  nav a.active::after,
  nav a[aria-current='page']::after {
    width: 70%;
    background-color: var(--color-secondary-dark);
  }
}

/* Mobile specific styles */
@media (max-width: 768px) {
  .mobile-menu {
    transform: translateY(-10px);
    transition:
      opacity 0.3s ease,
      max-height 0.3s ease,
      transform 0.3s ease;
  }

  .mobile-menu.menu-open {
    transform: translateY(0);
  }

  nav a {
    margin: 0.25rem 0;
    text-align: center;
    &.active {
      background-color: var(--color-primary-dark);
      border-left: 3px solid var(--color-secondary);
    }
  }
}

/* Custom text utility classes */
.text-2xs {
  font-size: 0.65rem;
  line-height: 1rem;
}

.text-3xs {
  font-size: 0.6rem;
  line-height: 0.9rem;
}
