---
interface Props {
  ariaLabelPrev: string;
  ariaLabelNext: string;
  class?: string;
}

const {
  ariaLabelPrev = 'Anterior',
  ariaLabelNext = 'Siguiente',
  class: className = '',
} = Astro.props;
---

<div class={`carousel-controls ${className}`}>
  <button
    type="button"
    class="carousel-control prev text-primary absolute top-1/2 left-2 z-10 flex h-[44px] w-[44px] -translate-y-1/2 transform cursor-pointer items-center justify-center rounded-full bg-white/90 shadow-md focus-visible:ring-2 focus-visible:ring-white focus-visible:outline-none md:left-4"
    aria-label={ariaLabelPrev}
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      aria-hidden="true"
    >
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"
      ></path>
    </svg>
  </button>

  <button
    type="button"
    class="carousel-control next text-primary absolute top-1/2 right-2 z-10 flex h-[44px] w-[44px] -translate-y-1/2 transform cursor-pointer items-center justify-center rounded-full bg-white/90 shadow-md focus-visible:ring-2 focus-visible:ring-white focus-visible:outline-none md:right-4"
    aria-label={ariaLabelNext}
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      aria-hidden="true"
    >
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
    </svg>
  </button>
</div>

<style>
  .carousel-control {
    transform: translateY(-50%) scale(1) !important;
  }
</style>
