---
interface Props {
  network: string;
  href: string;
  class?: string;
}

const { network, href, class: className = '' } = Astro.props;
---

<a
  href={href}
  target="_blank"
  aria-label={`Visit our ${network} page`}
  class={`hover:text-secondary text-white transition-colors ${className}`}
  rel="noopener noreferrer"
>
  <slot />
</a>
